

.caption {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}



footer {

    
    background-color: #d9e0e7;
    padding: 20px 0;
    font-size: 14px;
    color: black;
    height: 110px;
}

.font {
    font-family: "Alef", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.fab {
    color: rgb(41, 39, 42);
    margin: 0 10px;
}

div.h1 {
    margin-left: 100px;

    font-weight: 700;
    font-weight: 400;
    text-shadow: 0cqi;
    text-align: center;
    display: flex; /* השתמש בפלקס על מנת ליצור את המיקום המרכזי */
    justify-content: center; /* ממורכז את התוכן באמצעות כיוון הרוחב */
    align-items: center; /* ממורכז את התוכן באמצעות כיוון הגובה */
    height: 20px;; 

}


    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
    
    .row {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
    }
    
    .image {
        flex: 0 0 calc(33.33% - 12px);
        margin-bottom: 12px; 
        text-align: center;
        width: 100%;
        height: auto;
        display: inline-grid; 
        grid-template-columns: auto; 
        gap: 4px; 
    
        
    }
    
    .image img {
        max-width: 100%;
        border-radius: 10px; 
        display: block; 
        max-width: 100%; 
    }
    
    .caption {
        padding: 5px;
        background-color:solid rgb(202, 175, 196);
    }
    main{

        background-image: url(images/belle-beauty-JPvy3rrWSeM-unsplash.jpg); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.7); /* שקיפות 70% */
        border: 1px solid #ccc; /* מסגרת דקה */
        border-radius: 5px; /* פינות מעוגלות */
        margin-bottom: 0;
        padding: 0;
    }
    h5{
        font-style: italic;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .video {
        display: flex;
      }
      
      .video-wrapper {
        flex: 1;
        margin-right: 10px; /* מרווח ימני בין הווידאו */
        flex: 1;
        border-radius: 10px; /* פינות מעוגלות */
        overflow: hidden; /* מוסתר חלק מהווידאו אם הוא חורג מהגודל שלו */
      }
      
      video {
        max-width: 100%; /* גודל רוחב מקסימלי */
        height: auto; /* גובה אוטומטי */
        width: 100%; /* גודל רוחב מקסימלי */
        height: auto; /* גובה אוטומטי */
        display: block; /* תצוגה בלוק */
      }
      